.main-footer {
  padding: 20px 0 20px;
  font: $paragraph-size;
  color: $color-grey-dark-2;
  text-align: center;
  @media (max-width: 768px) {
    padding: 10px;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark-2;
  }
}

.social {
  padding: 30px 0 20px 0;
  display: block;

  &__item {
    display: inline-block;
    padding-left: 30px;
    &:first-of-type {
      padding-left: 0;
    }
  }
  &__link {
    color: $color-primary-light;
    font-size: 18px;
  }
}
