.main {
  margin-top: 155px;
}
.first-title {
  padding: 30px 0 30px 0;
  font: normal 45px/1.4em "Cinzel", serif;
  color: #303131;
  letter-spacing: 3px;
  text-align: center;
}
.portfolio-list {
  width: 100%;
  height: 869px;
}
.item-portfolio {
  padding-left: 10px;
  height: 100%;
  text-align: center;
  &:first-of-type {
    padding-left: 0;
  }
  &__background {
    padding-top: 100px;
    height: 100%;
    background-color: rgba(39, 58, 78, 1);
    &--1 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/mussels.webp) center / cover, no-repeat;
    }
    &--2 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/pizza.webp) center / cover, no-repeat;
    }
    &--3 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/bread.webp) center / cover, no-repeat;
    }
  }
  &__title {
    font: normal normal normal 40px/1.4em cinzel, serif;
    color: #fff;
    padding-bottom: 30px;
  }
}
