.main {
  margin-top: 155px;

  @media only screen and (max-width: 767px) {
    margin-top: 20px;
  }
}
.first-title {
  padding: 30px 0 30px 0;
  font: normal 45px/1.4em "Cinzel", serif;
  color: #303131;
  letter-spacing: 3px;
  text-align: center;

  @media only screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 1;
  }
}
.portfolio-list {
  width: 100%;
  height: 869px;

  @media only screen and (max-width: 991px) {
    height: 600px;
  }

  @media only screen and (max-width: 767px) {
    height: auto;
  }
}
.item-portfolio {
  padding-left: 10px;
  height: 100%;
  text-align: center;

  @media only screen and (max-width: 767px) {
    padding-left: 0;
    padding-bottom: 15px;
    width: 100%;
    max-width: 80vh;
    margin: 0 auto;
  }

  &:first-of-type {
    padding-left: 0;
  }
  &__background {
    padding-top: 100px;
    height: 100%;
    background-color: rgba(39, 58, 78, 1);

    @media only screen and (max-width: 767px) {
      padding-top: 70px;
      height: 300px;
    }
    &--1 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/mussels.webp) center / cover, no-repeat;
      @media only screen and (max-width: 767px) {
        background: url(./image/mussels-mobile.webp) center / cover, no-repeat;
      }
    }
    &--2 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/pizza.webp) center / cover, no-repeat;
      @media only screen and (max-width: 767px) {
        background: url(./image/pizza-mobile.webp) center / cover, no-repeat;
      }
    }
    &--3 {
      background: linear-gradient(
          to bottom,
          rgba(39, 58, 78, 0.35),
          rgba(39, 58, 78, 0.3)
        ),
        url(./image/bread.webp) center / cover, no-repeat;

      @media only screen and (max-width: 767px) {
        background: url(./image/bread-mobile.webp) center / cover, no-repeat;
      }
    }
  }
  &__title {
    font: normal normal normal 40px/1.4em "Cinzel", serif;
    color: #fff;
    padding-bottom: 30px;

    @media only screen and (max-width: 991px) {
      font-size: 35px;
      letter-spacing: 1px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 30px;
      line-height: 1;
      padding-bottom: 15px;
    }
  }
}
