.about {
  margin-top: $margin-top-big;
  height: 884px;
  width: 100%;
  animation: FadeIN ease-in 0.5s;

  @media only screen and (max-width: 767px) {
    height: auto;
    margin-top: $margin-top-small;
  }

  &__image {
    height: 100%;
    background-color: $color-primary;
    background: url(./image/photograph.webp) center / cover, no-repeat;

    @media only screen and (max-width: 767px) {
      height: 600px;
      background: url(./image/photograph-mobile.webp) top / cover, no-repeat;
    }

    @media only screen and (max-width: 575px) {
      height: 300px;
    }
  }

  &__description-block {
    padding: 156px 135px;
    background-color: $color-grey-light-2;
    color: $color-grey-dark;
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: 1199px) {
      padding: 70px 60px;
    }

    @media only screen and (max-width: 767px) {
      padding: 65px 80px;
    }

    @media only screen and (max-width: 575px) {
      padding: 50px 40px 30px 22px;
    }
  }
  &__title {
    font: $first-title;
    padding-bottom: 27px;
    letter-spacing: 2px;

    @include respond(tab-port) {
      font-size: 30px;
      line-height: 1;
    }

    @media only screen and (max-width: 767px) {
      font-size: 35px;
    }
  }

  &__title-secondary {
    padding: 39px 0 13px;
    font: $title-secondary;
    text-transform: capitalize;

    @include respond(tab-port) {
      padding-top: 25px;
    }
  }
  &__paragraph {
    padding-bottom: 20px;
    font: $paragraph-size;
  }
}
